.content {
  align-items: flex-start;
  justify-content: space-between;
  min-height: calc(100vh - 70px);
}

.content__character {
  width: 33%;
  justify-content: initial;
}

.content__appearance {
  width: 33%;
  margin: 0px auto;
  text-align: center;
}

.content__episode {
  width: 33%;
}