.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 50px;
  justify-content: space-between;
  background-color: var(--color-dark);
}

.header__logo {
  width: 50%;
  max-width: 150px;
  padding: var(--spacing-x1) 0px;
}

.header__navbar {
  width: 100%;
  max-width: 390px;
}

.navbar__container {
  width: 100%;
}

.navbar__link {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 100%;
  min-height: 30px;
}

.content {
  background-color: var(--color-dark);
}

.content h1 {
  padding-bottom: var(--spacing-x1);
}

.character__container {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-x2) var(--spacing-min);
}

.character__image {
  width: 40%;
  padding-right: var(--spacing-min);
}

.item__container {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-x2) var(--spacing-min);
}

.item__image {
  width: 40%;
  padding-right: var(--spacing-min);
}

.content__appearance {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-x2) var(--spacing-min);
  text-align: center;
}

.appearance__image {
  width: 50%;
  padding-right: var(--spacing-min);
  padding-bottom: var(--spacing-x1);
}

.content__episode {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-x2) var(--spacing-min);
}

.episode__image {
  width: 80%;
  padding-right: var(--spacing-min);
  padding-bottom: var(--spacing-min);
}

.episode__description {
  text-align: center;
}