.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 50px;
  justify-content: space-between;
  background-color: var(--color-dark);
}

.header__logo {
  width: 50%;
  max-width: 150px;
  padding: var(--spacing-x1) 0px;
}

.header__navbar {
  width: 100%;
  max-width: 390px;
}

.navbar__container {
  width: 100%;
}

.navbar__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 30px;
}